<form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)" class="login-form">
  <div class="form-group">
    <label class="form-label" for="userName">{{
      "User Name" | uppercase
    }}</label>
    <input
      type="text"
      class="form-control"
      id="userName"
      placeholder="Enter your email"
      name="userName"
      [(ngModel)]="formData.userName"
      #userName="ngModel"
      required
      pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$"
    />
    <div *ngIf="userName.invalid && userName.touched" class="text-danger">
      <div *ngIf="userName.hasError('required')">User Name is required</div>
      <div *ngIf="userName.hasError('pattern')">Invalid Email</div>
    </div>
  </div>

  <div class="form-group">
    <label for="password" class="form-label mt-3">{{
      "Password" | uppercase
    }}</label>
    <input
      type="password"
      name="password"
      id="password"
      class="form-control"
      required
      pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$"
      [(ngModel)]="formData.password"
      #password="ngModel"
      placeholder="Enter your password"
    />
    <div *ngIf="password.invalid && password.touched" class="text-danger">
      <div *ngIf="password.hasError('required')">Password is required</div>
      <div *ngIf="password.hasError('pattern')">Invalid Password</div>
    </div>
  </div>

  <button type="submit" class="btn btn-primary my-3 w-100">Login</button>
</form>

<p class="text-center">
  Do not have an account?
  <a routerLink="/register" class="text-decoration-underline">Register</a>
</p>
