<form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="register-form">
  <div class="form-group">
    <label class="form-label" for="name">{{ "Name" | uppercase }}</label>
    <input
      type="text"
      class="form-control"
      id="name"
      placeholder="Enter Name"
      name="name"
      formControlName="name"
    />
    <div *ngIf="name?.invalid && name?.touched">
      <div *ngIf="name?.hasError('required')" class="form-text text-danger">
        Name is required
      </div>
      <div *ngIf="name?.hasError('minlength')" class="form-text text-danger">
        Name must be at least 3 characters long
      </div>
    </div>
  </div>

  <div class="form-group">
    <label class="form-label" for="email">{{ "Email" | uppercase }}</label>
    <input
      type="email"
      class="form-control"
      id="email"
      placeholder="Enter Email"
      formControlName="email"
    />
    <div *ngIf="email?.invalid && email?.touched">
      <div *ngIf="email?.hasError('required')" class="form-text text-danger">
        Email is required
      </div>
      <div *ngIf="email?.hasError('email')" class="form-text text-danger">
        Invalid email format
      </div>
    </div>
  </div>

  <div class="form-group">
    <label class="form-label" for="userName">{{
      "Username" | uppercase
    }}</label>
    <input
      type="text"
      class="form-control"
      id="userName"
      placeholder="Enter Username"
      formControlName="userName"
    />
    <div *ngIf="userName?.invalid && userName?.touched">
      <div *ngIf="userName?.hasError('required')" class="form-text text-danger">
        Username is required
      </div>
      <div *ngIf="userName?.hasError('userName')" class="form-text text-danger">
        Username must not have spaces
      </div>
    </div>
  </div>

  <div class="form-group">
    <label class="form-label" for="password">{{
      "Password" | uppercase
    }}</label>
    <input
      type="password"
      class="form-control"
      id="password"
      placeholder="Enter Password"
      formControlName="password"
    />
    <div *ngIf="password?.invalid && password?.touched">
      <div *ngIf="password?.hasError('required')" class="form-text text-danger">
        Password is required
      </div>
      <div *ngIf="password?.hasError('pattern')" class="form-text text-danger">
        Password must be at least 8 characters, include uppercase, lowercase, a
        digit, and a special character
      </div>
    </div>
  </div>

  <div class="form-group">
    <label class="form-label" for="confirmPassword">{{
      "Confirm Password" | uppercase
    }}</label>
    <input
      type="password"
      class="form-control"
      id="confirmPassword"
      placeholder="Confirm Password"
      formControlName="confirmPassword"
    />
    <div *ngIf="confirmPassword?.invalid && confirmPassword?.touched">
      <div
        *ngIf="confirmPassword?.hasError('required')"
        class="form-text text-danger"
      >
        Confirm Password is required
      </div>
      <div
        *ngIf="confirmPassword?.hasError('mustMatch')"
        class="form-text text-danger"
      >
        Passwords must match
      </div>
    </div>
  </div>

  <button type="submit" class="btn btn-primary mt-3 w-100">Register</button>
</form>

<p class="text-center">
  Already have an account?
  <a routerLink="/login" class="text-decoration-underline">Login</a>
</p>
